/* ----Global Styles----*/


/* flexible images */
img{
  width:auto;
  max-width: 100%;
  height: auto;
  }
/*add width attribute 255 for mobile version */
/* id= hashtag in CSS */
header {
  text-align: center;
}
section {
  text-align:center;
}
p {
  padding: 10px 10px 10px 10px;
}

header figcaption {
  text-align: left;
}

#ingredients ul {
list-style: circle;
  padding-left: 1em;
}

#ingredients ol {
  color: #f00
  line-height: 1.5;
  margin-top: .5em;
}

#ingredients li span {
  color: #999;
}
body{
  color: #414141;
  background-color: #EEEEEE;
  font-size: 18px;
}
h1 {
  font-size: 36px;
  font-family: "Helvetica", "Arial", sans-serif;
}
h2 {
  font-size: 28px;
}
